@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  /* @apply bg-background;
    @apply text-text; */
  /* @apply font-body;
    @apply antialiased; */
}

.specific-issue > * {
  flex-grow: 1;
}

input:focus,
textarea:focus {
  outline: none;
}
